<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
    <div class="position-absolute top-50 start-50 translate-middle" style="text-align: center">
        <h1 style="padding: 20px; color:grey;">EXPENSE TRACKER</h1>
        <h3 style="padding: 25px;">Keep track of your expenses now!</h3>
        <a class="btn btn-outline-primary" style="padding: 15px;" href="/login">Get Started</a>
    </div>
</body>
</html>