<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
    <div style="text-align: center; margin: auto; width: 30%; padding: 100px;">
        <h1 style="color: grey">REGISTER</h1>
        <form action="/register" method="POST">
            <div class="input-group mb-3" style="padding: 10px;">
                <span class="input-group-text" id="basic-addon1">Username</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3" style="padding: 10px;">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="email" class="form-control" placeholder="example@example.com" aria-label="Email" aria-describedby="basic-addon1">
            </div> 
            <div class="input-group mb-3" style="padding: 10px;">
                <span class="input-group-text" id="basic-addon1">Password</span>
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <div style="padding: 20px;">
                <input class="btn btn-outline-primary" type="submit" value="Login">
            </div>
        </form>
        <a href="/login">Allready have an account? login here</a>
    </div>
</body>
</html>